<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Location History Survey | USF 1.0.0</title>
    <link rel="stylesheet" href="main.css" />
    <!-- <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBFAMWOu-6ZKxWkZwC9Q7n0ekfJ8Szc85A"></script> -->
    <% if (NODE_ENV === 'development') { %>
    <!-- Load some resources only in development environment -->
    <% } %>
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTkRle9nCGmlaJZ7cKkGJ6xfTwSOOgiKo&libraries=places"></script> -->
  </head>
  <body>
    <div id="app"></div>
    <script src="main.js"></script>
  </body>
</html>
