<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Location History Survey | USF 1.0.0</title>
    <link rel="stylesheet" href="main.css" />
    <% if (NODE_ENV === 'development') { %>
    <!-- Load some resources only in development environment -->
    <% } %>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyA3QXkSMnJrUKaYgJISggM0wlFyjc0grec"></script>
  </head>
  <body>
    <div id="app"></div>
    <script src="main.js"></script>
  </body>
</html>
